@import './variables.scss';
// @import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
// @import './btn.scss';

$border-color: #d3dae0;
$treeColor: #e2e9ef;

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
        Microsoft YaHei, Arial, sans-serif;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.no-padding {
    padding: 0px !important;
}

.padding-content {
    padding: 4px 0;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.pr-5 {
    padding-right: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.inlineBlock {
    display: block;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: ' ';
        clear: both;
        height: 0;
    }
}

aside {
    background: #eef1f6;
    padding: 8px 24px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: block;
    line-height: 32px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    color: #2c3e50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a {
        color: #337ab7;
        cursor: pointer;

        &:hover {
            color: rgb(32, 160, 255);
        }
    }
}

//main-container全局样式

.text-center {
    text-align: center;
}

.link-type,
.link-type:focus {
    color: #337ab7;
    cursor: pointer;

    &:hover {
        color: rgb(32, 160, 255);
    }
}

//refine vue-multiselect plugin
.multiselect {
    line-height: 16px;
}

.multiselect--active {
    z-index: 1000 !important;
}

//my-style 个人风格样式
.left-tree {
    .el-input__suffix {
        top: 5px !important;
    }
    .el-input {
        padding: 8px 4px 0px 4px;
    }
}
.el-table--border {
    border: none;
}
.app-main {
    min-height: 100%;
}

//新模板 样式

.app-container {
    background: #f3f3f3;
    margin: 10px;

    //日期输入框样式
    .el-date-editor.el-input,
    .el-date-editor.el-input__inner {
        width: 165px;
    }

    .range_date {
        width: 210px !important;
    }
}

.filter-container {
    border: solid 1px $border-color;
    border-top: solid 5px $border-color;
    background-color: white;
    text-align: left;
    padding: 5px;

    // 搜索条件输入项
    .filter-item {
        display: inline-block;
    }

    .filter-items {
        height: 32px;
    }

    //搜索条件按钮
    .filter-item-btn {
        display: inline-block;
        height: 32px;
    }

    .filter-item-name {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        font-size: 12px;
        color: #474747;
        margin-top: 10px;
    }
}

.table-container {
    border: none;
    margin-top: 10px;
    background-color: white;

    .oprate_btn {
        padding: 5px;
        text-align: left;
        border: solid 1px $border-color;
        border-top: solid 5px $border-color;
        border-bottom: none;

        .el-button + .el-button {
            margin-left: 0px;
        }
    }

    .oprate_btn.no_t_border {
        border-top: none;
    }

    .el-table td,
    .el-table th.is-leaf {
        border-bottom: 1px solid $border-color;
    }

    .el-table--border,
    .el-table--group {
        border: 1px solid $border-color;
        border-right: none;
        border-bottom: none;
    }

    .el-table--border::after,
    .el-table--group::after,
    .el-table::before {
        background-color: $border-color;
    }

    .el-table--border td,
    .el-table--border th,
    .el-table__body-wrapper
        .el-table--border.is-scrolling-left
        ~ .el-table__fixed {
        border-right: 1px solid $border-color;
    }

    .table-container .el-table--border::after,
    .table-container .el-table--group::after,
    .table-container .el-table::before {
        background-color: transparent;
    }

    .el-table .header-cell {
        background: #eef2f8;
        color: #474747;
    }

    .el-table--small th {
        font-size: 12px;
        padding: 6px 0;
    }

    .el-table--small td {
        font-size: 12px;
        padding: 2px 0;
    }

    .el-table th {
        font-size: 12px;
        padding: 6px 0;
    }
    .el-table td {
        font-size: 12px;
        padding: 2px 0;
    }

    //悬浮列底边样式 fixed时只显示浮动的底边，因此设置为透明
    .el-table__fixed-right::before,
    .el-table__fixed::before {
        // background-color: $border-color;
        background-color: transparent;
    }

    //解决上下错位
    .el-table__fixed-body-wrapper .el-table__body {
        padding-bottom: 20px;
    }
}

.nofilter.table-container {
    margin-top: 0px;
}

.left_col {
    padding-right: 10px;
}

//表格分页样式
.pagination-container {
    background: #fff;
    padding: 5px;
    border: 1px solid $border-color;
    border-top: none;
}
.pagination-container.hidden {
    display: none;
}
.el-pagination {
    text-align: right;
}

.no_b_border {
    border-bottom: none !important;
}
.no_b_padding {
    padding-bottom: 0px !important;
}

.border_t_1 {
    border-top: 1px solid $border-color !important;
}

.border_r_1 {
    border-right: 1px solid $border-color !important;
}
.border_b_1 {
    border-bottom: 1px solid $border-color !important;
}
.border_l_1 {
    border-left: 1px solid $border-color !important;
}

//tab切换样式
.app-container .el-tabs {
    border-top: solid 5px $border-color;
    .el-button + .el-button {
        margin-left: 0px;
    }
}

.tab_container {
    .el-tabs--border-card > .el-tabs__content {
        padding: 0px;
    }

    .filter-container {
        border: none;

        .filter-items {
            height: auto;
        }
    }

    .table-container {
        border: none;
        margin-top: 0px;

        .oprate_btn {
            padding: 5px;
            border: none;
            border-top: solid 1px $border-color;
            border-bottom: solid 1px $border-color;
        }

        .el-table--border,
        .el-table--group {
            border: none;
        }

        .el-table--border::after,
        .el-table--group::after {
            width: 0px;
        }
    }

    .pagination-container {
        border: none;
    }

    .el-form--inline .el-form-item {
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .left_content {
        border-top: 1px solid $border-color;
    }

    .right_content {
        border: 1px solid $border-color;
        border-bottom: none;
        border-right: none;
    }
}

//树样式
.left-trees {
    padding-top: 20px;
    background: $treeColor;
}

.left-trees .el-tree {
    background: $treeColor;
}

//折叠面板块样式,根据实际布局修改
.collapse_div {
    border: solid 1px $border-color;
    border-top: solid 5px $border-color;
    border-bottom: none;

    .el-collapse-item__header {
        padding: 0px 0px 0px 10px;
        border-bottom: solid 1px $border-color;
    }

    .el-collapse-item__content {
        padding: 0px 0px 10px 10px;
    }
}
